

 <div id="background"><img src="/img/room-bg2.jpg" width="100%"></div>

		<ul id="scene" class="scene">
			<li id="head-bobble" class="layer" data-depth="0.80"><img src="/img/head-baseball4.png" width="120"></li>
		</ul>

	<script src="/js/parallax.js"></script>
	<script>

	// Pretty simple huh?
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);

	</script>