	<div class="header"><img src="/img/seahawks-header.png" width="100%"></div>

	<div id="background"><img src="/img/bg.jpg" width="100%"></div>

		<ul id="scene" class="scene">
			<li id="team-logo" class="layer" data-limit-y="5" data-depth="0.20"><img src="/img/team-logo.png"></li>
			<li id="player" class="layer" data-limit-y="5" data-depth="0.40"><img src="/img/player3.png"></li>
		</ul>
	<div id="button-anime1"><img src="/img/va-btn.png" width="134"></div>
	<div id="button-anime2"><img src="/img/meme-btn.png" width="134"></div>
	<div id="button-anime3"><img src="/img/va-btn.png" width="134"></div>
	<div id="button-anime4"><img src="/img/meme-btn.png" width="134"></div>
	
	<div class="custom-footer"></div>

	<script src="/js/parallax.js"></script>
	<script>

	// Pretty simple huh?
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);

	</script>

	<script>
	$('#button-anime1').addClass('animated fadeInDown');
	$('#button-anime2').addClass('animated fadeInDown');
	$('#button-anime3').addClass('animated fadeInDown');
	$('#button-anime4').addClass('animated fadeInDown');
	</script>