<div id="background"><img src="/img/bg.png" width="100%"></div>

		<ul id="scene" class="scene">
			<li id="team-logo" class="layer" data-depth="1.00"><img src="/img/team-logo.png"></li>
			<li id="player" class="layer" data-depth="0.60"><img src="/img/player.png"></li>
			<li id="button"class="layer" data-depth="0.40">Passbook</li>
		</ul>

	<script src="/js/parallax.js"></script>
	<script>

	// Pretty simple huh?
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);

	</script>