	<div id="background"><img src="/img/bg.jpg" width="100%"></div>

		<ul id="scene" class="scene">
			<li id="team-logo" class="layer" data-depth="0.20"><img src="/img/team-logo.png"></li>
			<li id="player" class="layer" data-depth="0.60"><img src="/img/player3.png"></li>
			<li id="btn-overlay" class="layer" data-depth="0"><img src="/img/btn-overlay.png"></li>
		</ul>

	<script src="/js/parallax.js"></script>
	<script>

	// Pretty simple huh?
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);

	</script>

	<script>
	$('#yourElement').addClass('animated bounceOutLeft');
	</script>